<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Cards Example</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- Navigation Bar -->
    <!-- <%- include("../components/navbar.ejs") %> -->
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="tel:+9779815041051">Contact</a>
        <a href="/createblog">Create Blog</a>
        <a href="/register">Register</a>
        <a href="/login">LogIn</a>
    </div>

    <div style="display: flex;flex-wrap: wrap;">
        <!-- Cards Section -->
        <h1>Home page</h1>
        <% blogs.forEach((blog)=>{ %>
            <div class="card">
                <img src="<%- blog.image %>" alt="Card Image">
                <div class="title"><%- blog.title %></div>
                <a href="/blog/<%- blog._id %>">see more</a>
            </div>
            <% }) %>


    </div>



</body>

</html>